<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Listing Page</title>
    <link rel="stylesheet" href="css/home.css">

</head>


<body>
    <header class="header">
        <div class="title-form"> 
        <div>Cash COW</div>
        </div>

        <div class="banner">
            <div id="bannerText">Welcome to Cash COW</div>
        </div>
        <div class="cart-form">
            <input type="submit" value="Checkout" class="submit-btn">

        </div>
    </header>


<!--Product Listings-->
<div class="container">
    <div class="product-list">
        <div class="product-form">
            <img class="product-pic" src="p1.png" width="200" height="200">
            <div class="prodcut-type">Dress</div>
            <div class="product-cost">$20.99</div>
            <div class="product-delivery"> 2 day delivery</div>
            <label><input class="cart-checkbox" type="checkbox" name="Dress" value="Dress"> add to cart </label>
        </div>
    
        <div class="product-form">
            <img class="product-pic" src="p2.png" width="200" height="200">
            <div class="prodcut-type">Mouse</div>
            <div class="product-cost">$15.99</div>
            <div class="product-delivery"> 2 day delivery</div>
            <label><input class="cart-checkbox" type="checkbox" name="Mouse" value="Mouse"> add to cart </label>
        </div>
    
        <div class="product-form">
            <img class="product-pic" src="p3.png" width="200" height="200">
            <div class="prodcut-type">Keyboard</div>
            <div class="product-cost">$30.99</div>
            <div class="product-delivery"> 2 day delivery</div>
            <label><input class="cart-checkbox" type="checkbox" name="Keyboard" value="Keyboard"> add to cart </label>
        </div>
    
        <div class="product-form">
            <img class="product-pic" src="p4.png" width="200" height="200">
            <div class="prodcut-type">Sweatshirt</div>
            <div class="product-cost">$25.99</div>
            <div class="product-delivery"> 2 day delivery</div>
            <label><input class="cart-checkbox" type="checkbox" name="Sweatshirt" value="Sweatshirt"> add to cart </label>
        </div>
    
        <div class="product-form">
            <img class="product-pic" src="p5.png" width="200" height="200">
            <div class="prodcut-type">Nikon Camera</div>
            <div class="product-cost">$1200.99</div>
            <div class="product-delivery"> 2 day delivery</div>
            <label><input class="cart-checkbox" type="checkbox" name="Nikon Camera" value="Nikon Camera"> add to cart </label>
        </div>
    
        <div class="product-form">
            <img class="product-pic" src="p6.png" width="200" height="200">
            <div class="prodcut-type">Iphone</div>
            <div class="product-cost">$1300.99</div>
            <div class="product-delivery"> 2 day delivery</div>
            <label><input class="cart-checkbox" type="checkbox" name="Iphone" value="Iphone"> add to cart </label>
        </div>
    
        <div class="product-form">
            <img class="product-pic" src="p7.png" width="200" height="200">
            <div class="prodcut-type">Vacuum Cleaner</div>
            <div class="product-cost">$13.99</div>
            <div class="product-delivery"> 2 day delivery</div>
            <label><input class="cart-checkbox" type="checkbox" name="Vacuum Cleaner" value="Vacuum Cleaner"> add to cart </label>
        </div>
    
        <div class="product-form">
            <img class="product-pic" src="cpu.png" width="200" height="200">
            <div class="prodcut-type">CPU</div>
            <div class="product-cost">$13.99</div>
            <div class="product-delivery"> 2 day delivery</div>
            <label><input class="cart-checkbox" type="checkbox" name="cpu" value="cpu"> add to cart </label>
        </div>
        </div>
</div>
</body>
</html>