<!DOCTYPE html>
<html>
<head>
    <title>CashCOW login</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="https://kit.fontawesome.com/881074fbb0.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--Title-->    
    <div class="title-form">
        <h1>Cash COW</h1>
    </div>
    <i class="fa-sharp fa-solid fa-ram"></i>

    <!--Login-->
    <div class="login-form">
        <form action = "/login" method = "post">
            <input type="text"  name ="name" class="text-field" placeholder="id">
            <input type="password" name = "password" class="text-field" placeholder="password">
            <input type="submit" class="submit-btn">
        </form>
    </div>
</body>
</html>