<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase Completed!</title>
    <link rel="stylesheet" href="css/purchase.css">
    <script src ="balanceUpdate.js"></script>
</head>
<body>

<div class="title-form">
    <div>Cash COW</div>
</div>

<div class="links-form">
    <a href="/home">Back to home</a>
    <a href="/login">Link to login</a>
</div>


<div class="hello-form">
    <img src="../img/login.png" width="50px" height="50px"/>
    <div class="hello-name">Hello, John Smith</div>
</div>

<div class="info-container">
    <div class="info-form">
        <div class="info-title"><b>Personal Information</b></div>
        <div id="address">Address: John Street</div>
        <div id="phone">Phone Number: 911</div>
    </div>

    <div class="info-form">
        <div class="info-title"><b>Account Balance</b></div>
        <div>0.00USD</div>
    </div>

    <div class="info-form">
        <div class="info-title"><b>Payment Information</b></div>
        <div>Mastercard ending with 4321</div>
        <div>Expiry Date 01/01</div>
    </div>

</div>

<div class="purchase-form">
    <div class="thanks">Thank you for Purchase!</div>
    <div>Your Cart</div>
    <p id="totalPriceOutput"></p>

    <script>
        // Extract the total price parameter from the URL
        var urlParams = new URLSearchParams(window.location.search);
        // var totalPrice = urlParams.get('totalPrice');
        var value = localStorage.getItem('key');

        // Display the total price on the page
        document.getElementById('totalPriceOutput').innerText = 'Total Price: $'  + value //+ totalPrice;
    </script>
    
</div>
</body>
</html>