*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    border: none;
    }
    
    body{
        background-image: url('views/images/mainbgimg.png'); 
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        height: 100vh; 
        margin: 0; 
    }
    
    
    .title-form{
    text-align: auto;
    margin-left:50px;
    color:black;
    font-size:30px;
    }
    
    .login-form{
        background-color: #000000;
        width: 300px;
        padding: 20px;
        border-radius: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
    }
    
    .text-field{
        width: 100%;
        font-size:14px;
        border-radius: 5px;
        padding: 10px;
        border: none;
        margin-bottom: 10px;
    }
    
    .submit-btn{
        width: 100%;
        font-size:14px;
        border-radius: 5px;
        padding: 10px;
        border: none;
        background-color: #a9a9a9;
    }
    
    .links{
        font-size:12px;
        margin-top:30px;
        text-align:center;
    }
    
    .links a {
        margin-left: 10px;
        margin-right: 10px;
        color: #ffffff;
    }
    
    
